@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

form,
.note {
  font-family: 'Montserrat', sans-serif;
}

.note {
  font-size: 18px;
}

label {
  font-size: 12px;
}

.delete-btn>img {
  margin-left: 5px;
}

.delete-btn {
  background-color: whitesmoke;
}

.delete-btn:hover {
  background-color: #dc3545;
  border: currentColor;
}

.note-title {
  background-color: whitesmoke;
}