@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

form,.note{
  font-family: 'Montserrat', sans-serif;
}
.note{ 
  font-size: small;
}

.input-form{
  position: absolute;
  width: 39%;
  height: 400px;
  padding: 20px;
  background: #c8c8c80f;
}

label {
  font-size: 12px;
}

blockquote {

}